/* You can add global styles to this file, and also import other style files */

body{
    background-image: url('B:/Escritorio/pagina/San Francisco.png'); /* Caracteristicas para el fondo de la web */
    background-position: center;
    background-size: 100%;
    background-repeat: repeat-y;
   
}

.fuenteTitulo{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  /* Fuente para el titulo */
    font-size: 75pt;
    color: #00FFDC;
    text-align: center;
}

.fuenteSubtitulo{
    color: white;
    font-size: 30pt;
    text-align: center;
    font-family: cursive;

}

.divTitulo {
    padding: 10px; /* Espaciado interno para el contenido */
    border-radius: 10px; /* Bordes redondeados */
    max-width: 100% auto; /* Ancho del cuadro */
    width: auto;
    margin: auto; /* Margen exterior para separar del resto del contenido */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */  
    position: relative;
    top: 250px;
  }

.divSubtitulo{
    padding: 10px; /* Espaciado interno para el contenido */
    border-radius: 10px; /* Bordes redondeados */
    max-width: 100%; /* Ancho del cuadro */
    width: auto;
    margin: auto; /* Margen exterior para separar del resto del contenido */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    position: relative;
    top: 250px;
}

.containerBtns{
    
    max-width: 100%; /* Opcional: asegura que el contenedor no sea más ancho que la pantalla */
    padding: 10px;
    max-width: 100%;
    margin-left: 73%;
}

.btnInformes{
    max-width: 100%;
    position: relative;
    top: 250px;
    margin: auto;
    margin-left: 47%;
}

.btnCambio{
    max-width: 100%;
    position: relative;
    top: 10%;
}

.divScript{
    color:aliceblue;
    max-width: 100% auto;
    width: 500px;
    height: 310px;
    margin: auto;
    position: relative;
    top: 300px;
    align-items: center;
    text-align: center;
}

  li {
    font-size: 0.9rem;
  }
  .f0 {
    font-size: 0.8rem;
  }
  .f1 {
    font-size: 0.9rem;
  }
  .f2 {
    font-size: 1rem;
  }
  .f3 {
    font-size: 1.1rem;
  }
  .f4 {
    font-size: 1.2rem;
  }

  .formulario-container {
    background-color: #fff;
    padding: 20px;
    max-width: 100%;
    width: 50%;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    top:400px;
    margin-left: 25%;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }